* {
    font-family: 'Inter', sans-serif;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    background: #21222A;
    width: 100%;
    padding: 20px 0;
    position: relative;
    top: 0;
    left: 0;
}

body {
    background:#282d35; 
}

.nav-icon {
    width: 28.93px;
    height: 28.93px;
}