* {
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #21222A;
    width: 100%;
}

body {
    margin: 0;
    background:#282d35; 
}

.nav-bar {
    color: #61DAFB;
    display: flex;
    align-items: center;
    padding: 20px;
}

.nav-icon {
    width: 28.93px;
    height: 28.93px;
    margin: 5px;
}

.logo-group {
    display: flex;
    align-items: center;
    text-decoration: none; /* removes underline */
    color: inherit; /* inherits color from nav-bar */
}

.main-content {
    margin-left: 20px;
    color: white;
}

.list-items li::marker {
    color: #61DAFB;
}
